<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes$ | async">
    <button
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero"
      type="button"
    >
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
      <span *ngIf="hero.superpower" class="superpower">💥</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input [(ngModel)]="selectedHero.name" id="hero-name" placeholder="name" />
    <input
      [(ngModel)]="selectedHero.superpower"
      id="hero-superpower"
      placeholder="superpower"
    />
  </div>
</div>
